<div class="max-w-xl mx-auto my-12 p-6 bg-white rounded-lg shadow-md dark:bg-gray-800">
  <!-- Email Verification Form -->

  @if (step===1) {
  <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()" class="space-y-6">
    <!-- header -->
    <div>
      <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-1">{{'forgotPassword.pTitle' |translate }}</h3>
      <p class="text-sm text-gray-500 dark:text-gray-400 mb-1">{{'forgotPassword.pSubtitle'|translate}}</p>
      @if (msgError) {
      <p class="text-sm  text-red-600">{{msgError}}.</p>
      }
    </div>

    <!-- inputs -->
    <div>
      <label for="email" class="lb-auth">{{'forgotPassword.emailLabel'|translate }}</label>
      <input formControlName="email" id="email" type="email" placeholder="name@company.com"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#855825] focus:border-[#855825] block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">

      @let emailControl=verifyEmail.get('email');
      @if (emailControl?.errors && emailControl?.touched) {
      <div class="mt-2 text-sm text-red-600">
        @if (emailControl?.getError('required')) {
        <span>{{'forgotPassword.Email_required'| translate }}</span>
        }
        @else if (emailControl?.getError('pattern')) {
        <span>{{'forgotPassword.Email_invalid'|translate }}</span>
        }
      </div>

      }


    </div>

    <!-- submit -->
    <button type="submit" class="btn-auth" [disabled]="isLoading">
      @if (isLoading) {
      <i class="fas fa-spinner fa-spin me-2" aria-hidden="true"></i>
      }
      {{'forgotPassword.pButton'|translate }}
    </button>



  </form>
  }
  @else if (step===2) {
  <!-- Code Verification Form -->
  <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()" class="space-y-6">
    <div>
      <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-1">{{'forgotPassword.cTitle'|translate }}</h3>
      <p class="text-sm text-gray-500">
        {{'forgotPassword.cSubtitle'|translate }}
      </p>
      @if (msgError) {
      <p class="text-sm  text-red-600">{{msgError}}.</p>
      }
    </div>

    <div>
      <label for="code" class="lb-auth">{{'forgotPassword.codeLabel'|translate }}</label>
      <input type="text" id="code" formControlName="resetCode"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#855825] focus:border-[#855825] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
        placeholder="{{'forgotPassword.placeholder'|translate }}">

      @let codeControl=verifyCode.get('resetCode');
      @if (codeControl?.errors && codeControl?.touched) {
      <div class="mt-2 text-sm text-red-600">
        @if (codeControl?.getError('required')) {
        <span>{{'forgotPassword.Code_required'|translate }}</span>
        }
        @else if (codeControl?.getError('pattern')) {
        <span>{{'forgotPassword.Code_invalid'|translate }}</span>
        }
      </div>

      }
    </div>

    <button type="submit" [disabled]="isLoading" class="btn-auth">
      @if (isLoading) {
      <i class="fas fa-spinner fa-spin me-2" aria-hidden="true"></i>
      }
      {{'forgotPassword.cButton'|translate}}
    </button>

  </form>
  }

  @else if (step===3) {
  <!-- Password Reset Form -->
  <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()" class="space-y-6">

    <div>
      <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-1">{{'forgotPassword.nTitle'|translate }}</h3>
      <p class="text-sm text-gray-500">{{'forgotPassword.nSubtitle'|translate }}</p>

      @if (msgError) {
      <p class="text-sm  text-red-600">{{msgError}}.</p>
      }
    </div>

    <div>
      <label for="reset-email" class="lb-auth">{{'forgotPassword.emailLabel'|translate }}</label>
      <input type="email" readonly placeholder="name@company.com" id="reset-email" formControlName="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#855825] focus:border-[#855825] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">

      @let mailControl=resetPassword.get('email');
      @if (mailControl?.errors && mailControl?.touched) {
      <div class="mt-2 text-sm text-red-600">
        @if (mailControl?.getError('required')) {
        <span>{{'forgotPassword.Email_required'| translate }}</span>
        }
        @else if (mailControl?.getError('pattern')) {
        <span>{{'forgotPassword.Email_invalid'|translate }}</span>
        }
      </div>
      }
    </div>

    <div>
      <label for="new-password" class="lb-auth">{{'forgotPassword.nTitle' |translate }}</label>
      <input id="new-password" formControlName="newPassword" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#855825] focus:border-[#855825] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
            dark:placeholder-gray-400 dark:text-white"
        placeholder="{{'forgotPassword.newPasswordPlaceholder'|translate}}" type="password">


      @let newPasswordControl=resetPassword.get('newPassword');
      @if (newPasswordControl?.errors && newPasswordControl?.touched) {
      <div class="mt-2 text-sm text-red-600">
        @if (newPasswordControl?.getError('required')) {
        <span>{{'forgotPassword.Password_required'| translate }}</span>
        }
        @else if (newPasswordControl?.getError('pattern')) {
        <span>{{'forgotPassword.Password_complexity'|translate }}</span>
        }
      </div>

      }

    </div>

    <button type="submit" class="btn-auth" [disabled]="isLoading">
      @if (isLoading) {
      <i class="fas fa-spinner fa-spin me-2" aria-hidden="true"></i>
      }
      {{'forgotPassword.nButton'|translate}}
    </button>

  </form>
  }
  <!-- Back Navigation -->
  <div dir="ltr" class="mt-4 text-sm text-center text-gray-500 dark:text-gray-400 flex items-center ">

    <!-- if you don't need back btn remove this  -->
    @if (step===2 || step===3) {
    <div  class="me-auto cursor-pointer" (click)="goBack()">
      <a class="block hover:bg-[#855825]/10  rounded-lg py-2 px-3 text-sm font-medium text-[#855825] dark:text-white md:dark:hover:text-[#855825] dark:hover:bg-gray-700 dark:hover:text-white transition-colors"
        aria-current="page">
        <i class="fa fa-arrow-left text-lg" aria-hidden="true"></i>
      </a>
    </div>
    }

    <p dir ="ltr"> {{'forgotPassword.rememberPassword'|translate}}
      <a routerLink="/login"
        class="text-[#855825] hover:underline dark:text-[#c58d5a]">{{'forgotPassword.loginLink'|translate }}</a>
    </p>

  </div>

</div>