/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "ngx-toastr/toastr";

.btn-auth {
  @apply disabled:bg-gray-500 w-full py-3 bg-[#855825] hover:bg-[#6a4620] text-white rounded-lg transition-colors  disabled:cursor-not-allowed;
}

.lb-auth {
  @apply block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300;
}

.in-auth {
  @apply w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-[#855825] 
  focus:border-[#855825] dark:bg-gray-800 dark:border-gray-700;
}

@keyframes scan {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.scanning-line {
  animation: scan 3s infinite linear;
}


