<!-- Categories & Brands Section -->
<section class="py-16 bg-gray-50 dark:bg-gray-900">
  <div class="container mx-auto px-4">
    <!-- Section Title -->
    <div class="text-center mb-12">
      <h2 class="text-3xl font-bold text-[#855825] dark:text-[#c58d5a]">Our Categories & Brands</h2>
      <p class="text-gray-600 dark:text-gray-400 mt-2">Discover a wide range of products from trusted brands</p>
    </div>

    <!-- Categories Grid -->

    <div class="mb-10">
      <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-8">Our Categories</h3>
      <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6">
        @for (cat of allCategories() ; track cat._id) {
        <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow">
          
            <img [src]="cat.image" [alt]="cat.name" class=" size-40 ">
          <h4 class="text-center font-medium text-gray-900 dark:text-white">{{cat.name}}</h4>
        </div>
        }
      </div>
    </div>



    <!-- Brands Grid -->
    <div>
      <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-8">Our Brands</h3>
      <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6">


        @for (br of allBrands()| paginate: { itemsPerPage: itemPrPage, currentPage: p }; track br._id) {

        <div class="bg-white dark:bg-gray-800 p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow">
          <div class="w-20 h-20 mx-auto mb-4">
            <img [src]="br.image" alt="Nike" class="w-full h-full object-contain">
          </div>
          <h4 class="text-center font-medium text-gray-900 dark:text-white">{{br.name}}</h4>
        </div>

        }

      </div>


      <!-- Pagination -->
      <div class="mt-8 flex justify-center">
        <pagination-controls class="my-pagination my-dark" [responsive]="true" (pageChange)="p = $event"></pagination-controls>

      </div>


    </div>






  </div>
</section>